<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} 下载高清作品原图</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/petshow.css?6">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
    <header class="am-topbar am-topbar-inverse">
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-topbar-logo">
                    <img src="/img/logo.png?1" alt="">
                </a>
            </h1>
        </div>
    </header>
    <div class="am-g ztlb_nr ztlb_nr_list">
        <div class="am-u-sm-12">
            <div class="ztlb_nr_block">
                <div class="ztlb_nr_block_l">
                    <img src="{{cover}}" alt="{{title}}">
                </div>
                <div class="ztlb_nr_block_r">
                    <div class="ztlb_nr_block_r_info">
                        <div class="ztlb_nr_block_r_info_l">
                            <div class="ztlb_nr_block_r_info_num">{{im}}</div>
                            <div>今日预览数</div>
                        </div>
                        <div class="ztlb_nr_block_r_info_r">
                            <div class="ztlb_nr_block_r_info_num">{{ck}}</div>
                            <div>今日下载数</div>
                        </div>
                    </div>
                    <div class="ztlb_nr_block_r_title">{{title}}</div>
                    <span class="ztlb_nr_block_r_nr">{{desc}}...</span>
                    <div class="ztlb_nr_block_r_user">
                        <span>下载地址：</span>
                        {% for url in downloadUrls %}
                        <a class="am-btn am-btn-primary" href={{url}} target="_blank">
                            {{title}} <i class="am-icon-cloud-download"></i>
                        </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="ztlb_nr_block_r_info_copy_bg">
                <span>今日预览数：{{im}}</span>
                <span>今日下载数：{{ck}}</span>
            </div>
            <div class="ztlb_nr_block_r_info_copy"></div>
        </div>
    </div>
    <div class="ztlb_nr_block_r_user ztlb_nr_block_r_user_copy">
        <span>下载地址：</span>
        {% for url in downloadUrls %}
        <a class="am-btn am-btn-primary" href={{url}} target="_blank">
            {{title}} <i class="am-icon-cloud-download"></i>
        </a>
        {% endfor %}
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
</body>
</html>