<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} 下载高清作品原图</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/petshow.css?6">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>

    <header class="am-topbar am-topbar-inverse">
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-topbar-logo">
                    <img src="/img/logo.png?1" alt="">
                </a>
            </h1>
        </div>
    </header>
    <div class="am-g ztlb_nr ztlb_nr_list">
        <div class="am-u-sm-12">
            <div class="ztlb_nr_block">
                <div class="ztlb_nr_block_l">
                    <img src="{{.Cover}}" alt="{{.Title}}">
                </div>
                <div class="ztlb_nr_block_r">
                    <div class="ztlb_nr_block_r_info">
                        <div class="ztlb_nr_block_r_info_l">
                            <div class="ztlb_nr_block_r_info_num">{{.Im}}</div>
                            <div>今日预览数</div>
                        </div>
                        <div class="ztlb_nr_block_r_info_r">
                            <div class="ztlb_nr_block_r_info_num">{{.Ck}}</div>
                            <div>今日下载数</div>
                        </div>
                    </div>
                    <div class="ztlb_nr_block_r_title">{{.Title}}</div>
                    <span class="ztlb_nr_block_r_nr">{{.Desc}}...</span>
                    <div id="myblock1" class="ztlb_nr_block_r_user">
                        <span>下载地址：（经过几秒广告后点击跳过广告按钮才进入到网盘下载）</span></p>
                        {{if gt (len .DownloadUrls) 1 }}
                            {{range $index, $url := .DownloadUrls}}
                                <a class="am-btn am-btn-primary" href="{{$url}}" target="_blank">
                                    <i class="am-icon-cloud-download"></i>{{$.Title}}{{printf ".z0%v" $index }}
                                </a>
                            {{end}}
                        {{else}}
                            {{range $url := .DownloadUrls}}
                            <a class="am-btn am-btn-primary" href="{{$url}}" target="_blank">
                                <i class="am-icon-cloud-download"></i>{{$.Title}}.zip
                            </a>
                            {{end}}
                        {{end}}
                    </div>
                    <div id="myblock2" style="display: none;">
                        <blockquote>
                            <p>检测到本站广告被拦截，因此下载地址也自动屏蔽。请关闭广告拦截插件后刷新本页面就可以看到下载地址了。</p>
                            <small>站长提示 —— 疼美眉网</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/ads.js" type="text/javascript"></script>
    <script type="text/javascript">
        if(!document.getElementById('OdxcQvuwqisY')){
            document.getElementById('myblock1').style.display='none';
            document.getElementById('myblock2').style.display='block';
        }
    </script>
</body>
</html>